<mat-card>
    <mat-card-content>
      <form [formGroup]="signInform" (ngSubmit)="onSignIn()">
        <h2>Login</h2>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [id]="Email_Id" formControlName="email" placeholder="Ex.pat@example.com" name="username" [errorStateMatcher]="matcher" required>
            @if (signInform.get('email')!.hasError('email') && !signInform.get('email')!.hasError('required')) 
            {
                <mat-error>Please enter a valid email address</mat-error>
            }
            @if (signInform.get('email')!.hasError('required'))
            {
                <mat-error>This field is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [id]="Password_Id" placeholder="Enter your password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
            @if (signInform.get('password')!.hasError('required')){
                <mat-error>This field is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <div class="example-button-row-right ">
            <a mat-button href="https://www.google.com/" target="_blank">Forgot Password?</a>
        </div>
        <div class="example-button-row-center">
            <button mat-raised-button color="primary" class="full-width" [disabled]="!signInform.valid">Login</button>
        </div>
        <div class="example-button-row-center">
            Don't you have an accout? <a mat-button href="https://www.google.com/" target="_blank">Register</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>